<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfCalculatorApp.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.0.0" newVersion="3.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentAssertions" publicKeyToken="33f2691a05b67b6a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentAssertions.Core" publicKeyToken="33f2691a05b67b6a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.19.4.0" newVersion="4.19.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NEdifis" publicKeyToken="68bd55412466663d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.0.0" newVersion="0.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <WpfCalculatorApp.Properties.Config>
      <setting name="Subsystem" serializeAs="String">
        <value>WpfCalculatorApp</value>
      </setting>
      <setting name="Application" serializeAs="String">
        <value>WpfCalculatorApp</value>
      </setting>
      <setting name="ConfigClassesPattern" serializeAs="String">
        <value>.*ConfigSettings$</value>
      </setting>
      <setting name="LogConfig" serializeAs="String">
        <value>NLog.config</value>
      </setting>
      <setting name="GlobalParameterPattern" serializeAs="String">
        <value>.*GlobalParameters$</value>
      </setting>
      <setting name="LogConfigDebug" serializeAs="String">
        <value>NLog.Debug.config</value>
      </setting>
    </WpfCalculatorApp.Properties.Config>
  </applicationSettings>
</configuration>